body {
  background: linear-gradient(
    91.7deg,
    rgb(50, 25, 79) -4.3%,
    rgb(122, 101, 149) 101.8%
  );
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  color: white;
}

main {
  padding: 20px 0;
}
.weather-app {
  background: black;
  max-width: 900px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(122, 101, 149, 0, 08);
  border-radius: 16px;
  padding: 30px;
}

.title {
  color: white;
  text-align: center;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}

.search-form-input {
  background-color: #1d1c1f;
  color: white;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 8px 0px;
  margin: auto;
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
}

.search-form-button {
  background-color: #d8a8f7;
  padding: 15px;
  border-radius: 6px;
  color: black;
  font-weight: 600;
  font-size: 14px;
}

.search-form-button:hover {
  background-color: black;
  color: #d8a8f7;
  border-width: 1px;
  border-color: #d8a8f7;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.city-name {
  margin: 0;
  font-family: "Protest Revolution", sans-serif;
  font-size: 46px;
  line-height: 70px;
}

.weather-details {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
}

.weather-details strong {
  color: #d8a8f7;
}

.temperature-container {
  color: white;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  display: flex;
  margin: 0 auto;
}

.weather-app-temperature {
  font-size: 120px;
  font-weight: bold;
  margin-left: 20px;
  display: flex;
}

.weather-app-icon {
  font-size: 40px;
  display: flex;
  margin-top: 20px;
}

.temperature-unit {
  margin-top: 15px;
}

.link {
  color: #d8a8f7;
  text-decoration: underline;
}

.link:hover {
  color: black;
}

.footer {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: center;
  padding: 30px 0 0 0;
}
